<launch>
 
    <arg name="left_camera_id" default="/camera1" />
    <arg name="right_camera_id" default="/camera0" />
   

<!-- YOLO v3 -->    
    <arg name="gpu_device_id" default="0"/>
    <arg name="score_threshold" default="0.5"/>
    <arg name="nms_threshold" default="0.45"/>
    
    <!--PAST-->
    <!--<arg name="network_definition_file" default="/home/autoware/shared_dir/vision_files/yolov3-416.cfg"/>
    <arg name="pretrained_model_file" default="/home/autoware/shared_dir/vision_files/yolov3_416.weights"/>
    <arg name="names_file" default="/home/autoware/shared_dir/vision_files/coco.names"/>-->
    
    <!--NEW-->
    <arg name="network_definition_file" default="/home/autoware/Autoware/ros/src/computing/perception/detection/vision_detector/packages/vision_darknet_detect/darknet/cfg/yolov3.cfg"/>
    <arg name="pretrained_model_file" default="/home/autoware/shared_dir/vision_files/yolov3_416.weights"/>
    <arg name="names_file" default="/home/autoware/Autoware/ros/src/computing/perception/detection/vision_detector/packages/vision_darknet_detect/darknet/cfg/coco.names"/>

    <arg name="ann_path" default="/home/autoware/shared_dir/vision_files/annfileishere2.yml"/>
    <arg name="camera_id" default="/"/>
    <arg name="resize_ratio" default="1.0"/>
    <arg name="left_image_raw_node" default="/camera1/image_raw"/>
    <arg name="right_image_raw_node" default="/camera0/image_raw"/>
    
    <node pkg="vision_darknet_detect" name="icthus_darknet_detect" type="icthus_darknet_detect" >
	<param name="gpu_device_id" value="$(arg gpu_device_id)"/>
	<param name="score_threshold" value="$(arg score_threshold)"/>
	<param name="nms_threshold" value="$(arg nms_threshold)"/>
	<param name="network_definition_file" value="$(arg network_definition_file)"/>
	<param name="pretrained_model_file" value="$(arg pretrained_model_file)"/>
	<param name="names_file" value="$(arg names_file)"/>
	<param name="ann_path" value="$(arg ann_path)"/>
	<param name="camera_id" value="$(arg camera_id)"/>
	<param name="resize_ratio" value="$(arg resize_ratio)"/>
	<param name="left_camera_id" value="$(arg left_camera_id)"/>
	<param name="right_camera_id" value="$(arg right_camera_id)"/>
	<param name="left_image_raw_node" value="$(arg left_image_raw_node)"/>
	<param name="right_image_raw_node" value="$(arg right_image_raw_node)"/>
    </node>


</launch>
